.memory-card {
  border: 10px solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

 body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 350%;
    background-color: black;
    color: white;
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 4% 10%;
}

.content {
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

